@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Login Form</h1>
    <hr>
    <form action="/Submit">
        <pre>
        ID: <input type="number" name="id" id="id">
        <br>
        NAME: <input type="text" name="name" id="name">
        <br>
        Place: <input type="text" name="place" id="place">
        <br>
        <input type="submit" name="sub" id="sub">
        </pre>
    </form>